*{
    margin: 0;
    padding:0;
    box-sizing: border-box;   
} 
body{
    height: 220vh;
}
.main{
    background: maroon;
    width: 97.6vw;
    height: 220vh;
    margin-left: 15px ;
    margin-top: 22px;
    display: inline-flex;
    margin-bottom: 1px;
}
.left{
    width: 49vw;
}

.logo{
    width: 110px;
    height: auto;
    display:block;
    margin-top: 16px;
    margin-left:22px;

}
.main-heading{
   font-size: 4.5rem;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: white;
   width: 50%;
   font-weight: 800;
   padding-top: 43%;
   padding-left: 15%;
}
.desc{
    font-size:1.1rem;
    color: black;
    padding-bottom: 1rem;
    padding-left: 97px;
    font-weight: 530;  
}
.desc_2{
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-bottom: 2rem;
    padding-left: 97px;
    font-weight: 1000;
    
}

.triangle-bottomright {
      width: 0;
      height: 0;
      border-bottom: 140px solid white;
      border-left: 140px solid transparent;
      position: relative;
      left: 70.28rem;
      bottom: 8.75rem;
    }
.right_box{
    background: maroon;
    width: 49vw;
    padding-top: 5%;
    
}


input[type="text"],
input[type="email"]{
    width: 26rem;
    height: 3.5rem;
    margin: 1%;
    margin-left: 16%;
    background: maroon;
}
   
::placeholder{
    color: white;
    padding-left: 2%;
}
input,textarea{
    border: 2px solid #ccc;

}
.upper_one h2{
    margin-top: 1%;
    margin-left: 15%;
    font-weight: 1000;
    font-size: 27px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.upper_one p{
    margin-top: 0%;
    margin-left: 15%;
    margin-bottom: 2%;
    font-size: 11px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_1{
    padding: 0.8%;
    display: block;
    margin-left: 33rem;
    margin-top: -112px;
    border: 2px solid white;
   
}
.button_1::before,
.button_2::before{
     content: "+";
    position: absolute;
    color: rgb(201, 186, 186);
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-weight: bold;
}
.button_2{
    padding: 0.8%;
    display: block;
    margin-left: 31rem;
    margin-top: 4rem;
    border: 2px solid white;

}
input[type="checkbox"] {
  margin-top: -19px;  
  margin-left: 16%;  
  background-color: maroon;
  accent-color: rgba(89, 2, 2, 0.447);

}
label{
    color: white;
    font-size: 84%;
    position: relative;
    bottom: 3px;
}
.button{
    padding: 0.8%;
    margin-left: 21rem;
    margin-top: -1rem;
    border: 2px solid white;
    margin-bottom: 2.5%;

}

.First_one{
    display: flex;
}
label[for="best2"]{
    margin-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
    bottom: 0.3rem;
    width: 170px;
}
.button::before{
    content: "+";
    position: absolute;
    color: rgb(201, 186, 186);
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-weight: bold;

}
.sub{
    font-size: 180%;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:0.5% 6%;
    padding-right: 6%;
    margin-top:7%;
    margin-left: 16.2%;
}
.award {
  background: maroon;
  padding: 1rem;
  padding-bottom: 0.4rem;
}
.award-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.award-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 8%;
}
.award-button{
    position: relative;
    bottom: 0.5rem;
}
.award-button button {
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: -1rem 15rem 0 0;

}

.award-description {
  width: 72%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 2px solid white;
  min-height: 5rem;
  resize: none;
  font-size: 12px;
  margin-left : 5.02rem ;
   background-color: rgb(133, 24, 24);
    display: block;
    box-sizing: border-box;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



    

    
   