
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(to left, lightgray, white 50%);
  overflow-x: hidden;
}

.main,
.section,
.center {
  width: 100%; 
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3% 0% 3%;
  text-align: center;
}

.catchhub,
.top_screen {
  width: 48%;
}

.logo {
  width: 333px;
  position: relative;
  bottom: 20px;
}

.heading {
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  position: relative;
  left: 20px;
  bottom: 27px;
}

.para {
  font-size: 26px;
  font-weight: 400;
  color: rgb(103, 99, 99);
  position: relative;
  bottom: 19px;
  letter-spacing: 0.1rem;
}

.stores {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.app_store img,
.play_store img {
  width: 230px;
  height: auto;
  display: block;
}

.app_store,
.play_store {
  padding: 20px;
  position: relative;
  top: 9px;
  right: -5px;
}
.play_store{
  padding-left: 0px;

}

.top_screen img,
.section img,
.thh {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  align-items: flex-start;
}

.section img {
  max-width: 46%;
  position: relative;
}

.text {
  width: 50%;
  text-align: left;
  padding-top: 5%;
}

.heading2 {
  font-size: 37px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.4rem;
  padding-left: 200px;
  padding-top: 89px;
}

.new_para {
  font-size: 34px;
  font-weight:200;
  line-height: 1.2;
  color: #817e7e;
  text-align: center;
  padding: 44px;
  padding-left: 37px;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.heading3 {
  font-size: 37px;
  letter-spacing: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 350px;
  margin-left: 93px;

}

.text{
  display: flex;
  flex-direction: column;
}
.new_para_3 {
  font-size: 34px;
  color: #817e7e;
  line-height: 1.2;
  text-align: center;
  font-weight: 200;
  position: relative;
  bottom: 330px;
  left:34px;
  letter-spacing: 0.1rem;

}

.thh {
  max-width: 44%;
  margin: 0 auto;
  position: relative;
  bottom: 150px;
  left: -40px;
  
}
  .for_features {
  position: relative;
  bottom: 170px;    
  left: 12px;   
  width: 44%;    
}
.vector img {
  width: 678px;
  max-width: 100% ;
  height: 100px;      
  display: block; 
  position: relative;
  bottom: 141px;
  left:-159px;

  opacity: 0.9;
}
.heading_6{
  margin-top: -70px;
  margin-left: 119px;
  padding: 0;
}
.para_6{
  position: relative;
  top: 24px;
  left: -72px;
}

.footer {
   background: linear-gradient(to left, lightgray, white 50%);
  text-align: center;
}

.download-text {
  font-size: 32px;
  font-weight: 300;
  position: relative;
  bottom:60px ;
  right: 72px;
}
.app_2 img,
.play_3 img{
  width: 250px;
  height: auto;
  display: block;
}
.app_2{
  position: relative;
  bottom: 20px;
  left: -197px;
}
.play_3 img{
  position: relative;
  bottom: 102px;
  left: 275px;
}

.footer-link {
  font-size: 29px;
  font-weight: 200;
  margin-top: 0px;
  position: relative;
  bottom: 69px;
  right:58px;
}


.footer-link a {
  color: #0066cc;
  text-decoration: none;
}

.footer-logo {
  margin-top: 20px;
  width: 130px;
  opacity: 0.9;
  position: relative;
  bottom: 42px;
  right: 35px;
}

