* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
}

body {
    background-color: grey;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 10rem;
    width: 90%;
}

.contact-info {
    font-size: 1rem;
    font-weight: 800;
    text-align: right;
    margin-bottom: 1.0938rem;
    margin-right: 3rem;
}

.call {
    color: #8b3030;
    font-size: 1.6rem;
    font-weight: 800;
    padding-top: 15px;
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.number {
    min-width: 15.5rem;
    font-size: 3.05rem;
    font-weight: 800;
}

.question {
    font-size: 1.5rem;
    font-weight: 500;
    color: #625d5d;
}
.container {
    background-color: white;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.navigation {
    background-color: #9b1b1b;
}

.form-section {
    background: url(./images/form_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex {
    display: flex;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    gap: 0.7rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 2rem;
}

nav ul li:hover {
    background-color: gray;
}

li {
    padding-bottom: 0.8125rem;
    padding-top: 0.8125rem;
    padding-left: 0.5000rem;
    padding-right: 0.5000rem;
}

.text1 {
    display: flex;
    gap: 2.5000rem;

}

.flex {
   width: 100%;
   justify-content: space-evenly;
   margin-top: 2rem;
}

form {
    margin-left: 1.8750rem;
    margin-top: 0.5000rem;
}
input{
    margin-left: 11px;
}

label {
    font-weight: 700;
}
.comp{
    display: none;
    font-size: 2.5000rem;
    color: white;
    cursor: pointer;
}

.before-form {
    display: flex;
    justify-content: space-around;
}

.text1 h1 {
    color: white;
    background-color: #9b1b1b;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 2.7500rem;
    width: 13.5rem;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
}

input {
    height: 1.5625rem;
    padding: 5px;
    padding-left: 20px;
}
textarea{
    width: 75%;
    height: 4.6250rem;
}



.second p {
    font-size: 0.9375rem;
    color: rgb(101,99,99);
}

.form-section {
    width: 46%;
}
.banner_h2{
  color: blue;  font-size: 35px;font-weight: 900;
}
.b_form{
  font-size: 20px;margin-top: 18px;margin-left: 37px;margin-right: 22px;
}
.right {
    width: 47%;
}
.right img {
    width: 102%;
    height: 100%;
   
}

form {
    display: flex;
    flex-direction: column;
}

.before-form {
    display: flex;
}

label {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    margin-left: 1rem;
}

.first_section {
    padding-bottom: 8.1250rem;
    margin-top: 1.5625rem;
    margin-left: 3.4375rem;
    width: 30%;
}

.second {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-top {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 0.1250rem solid gray;
    padding-left: 1.8750rem;
    margin-bottom: 0.6875rem;
    margin-right: 0.6250rem;
}

.main-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5625rem;
    margin-left: 1.8750rem;
}

.second_section {
    border-left: 0.1250rem solid gray;
    border-right: 0.1250rem solid gray;
    width: 35%;
    margin-bottom: 3.1250rem;
}

button {
    background-color: brown;
    color: white;
    border: none;
    width: 8.7500rem;
    height: 2.0000rem;
    margin-bottom: 1.5625rem;
}
.btn5{
    margin-right: 3rem;
}

p {
    font-size: 1.3750rem;
    font-weight: 500;
    text-align: left;
}

h3 {
    color: brown;
    font-size: 1.08rem;
    text-align: left;
    padding-top: 0.4rem;
    padding-bottom: 0.4375rem;

}

.hed {
    text-align: left;
}

h1 {
    color: rgb(84, 78, 78);
    text-align: left;
    font-weight: 700;
}

.btn {
    margin: 0;
    margin-right: 1.4375rem;
}

.heading {
    display: flex;
    padding-top: 0.6250rem;
    padding-bottom: 0.6250rem;
}

.para {
    width: 57%;
    color: rgb(101,99,99);
}

.imgs {
    width: 30%;
}

.right1 {
    padding-right: 3.1250rem;
    padding-left: 1.8750rem;
    width: 35%;
    margin-bottom: 5.9375rem;
    margin-top: 1.5rem;
}

.imggs img {
    padding-right: 1.1250rem;
    padding-top: 2.1250rem;
}

.tex {
    width: 60%;
}

.imggs {
    width: 40%;
}
.imgg3{
    display: flex;
}

.rightimg_2 {
    width: 6.8125rem;
    margin-bottom: 0.9375rem;
}

.rightimg_1{
    width: 7.3750rem;
    height: 6.5000rem;
    margin-bottom: 0.9375rem;
}

.imgg {
    margin-right: 4.0625rem;
}

.btn1 button {
    margin: 0;
    margin-right: 1.3750rem;
}

.line {
    border-top: 0.1250rem solid gray;
    margin-top: 1.5625rem;
    width: 65%;
}

.line2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1.3750rem;
}

.line3 {

    align-items: flex-end;
    flex-direction: column;
    padding-right: 2.1875rem;
}

.line1 {
    border-top: 0.1250rem solid gray;
    margin-top: 1.5625rem;
    width: 89%;
}

textarea {
    margin-left: 4.3750rem;
    margin-top: 0.3125rem;
    resize: none;
    font-size: 0.9rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

textarea::placeholder {
    font-weight: 600;
    padding-left: 0.6250rem;
    padding-top: 0.6250rem;
    color: black;
}

.last {
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-left: 3.7500rem;
    margin-right: 1.8750rem;
    margin-top: 1.8750rem;
    margin-bottom: 14px;
}

.para p {
    font-size: 0.9375rem;
    padding-top: 0.6250rem;
}

.btn5 button {
    margin: 0;
    height: 2.5000rem;
    width: 17.7500rem;
    background-color: brown;
    color: white;
    border: none;
    margin-right:0;
    font-size: 1.2500rem;
    font-weight: bold;
}

.confidential {
    width: 11.5rem;
    height: 3.7500rem;
    transform: rotate(12deg);
    margin-top:2.2rem;
    margin-right: 2.3750rem;
    margin-left: 3px;
}

.shadow img {
    width: 100%;
}

.third {
    display: flex;
    margin-top: 1.2500rem;
}

.menu {
    height: 4.5000rem;
}

.menu img {
    width: 0.3750rem;
    height: 100%;
}

.hh {
    margin-top: 2.5000rem;
    padding-top: 1.5625rem;
}

.hhh1 {
    margin-top: 2.5000rem;
    padding-top: 2.0625rem;
    margin-left: 4.8125rem;
    color: rgb(144, 144, 144);
}

.menu-left {
    background-color: gray;
    width: 17.5000rem;
    height: 3.9375rem;
    color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.0000rem;
    font-weight: 700;
}

.cardcontent1 {
    width: 16.8750rem;
    height: 2.5000rem;
}

.cardcontent2 {
    padding-bottom: 0.3750rem;
    padding-right: 0.2500rem;
}

.card {
    box-shadow: 0.3125rem 0.5625rem 0.8125rem gray;
    width: 17.5000rem;
    background-color: gray;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.card h1 {
    color: white;
}

.sidebarleft {
    margin-left: 3.1250rem;
}

.third p {
    font-size: 1.1rem;
    color: rgb(101,99,99);
}

.right24 img {
    margin-left: 1.0625rem;
    width: 12vw;
}

.right25 {
    margin-left: 2.6875rem;
    margin-top: 1.5625rem;
}
.right25 img{
    width: 9vw;
}

.card {
    display: flex;
    align-items: center;
}

.menu-left {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right2 {
    width: 20%;
    margin-right: 3.1250rem;
    margin-left: 0.6250rem;
}

.right2 button {
    margin-bottom: 1.8125rem;
}

.middle-portion {
    width: 55%;
    margin-left: 1.5625rem;
}

.middle-portion p {
    color: gray;
    padding-right: 35px;
}

.sidebarleft {
    width: 25%;
}

.line9 {
    border-top: 0.1250rem solid gray;
    margin-top: 1.5625rem;
    width: 100%;
}

.icon {
    margin-left: 1.7500rem;
    padding-top: 0.8125rem;
    padding-left: 0.6250rem;
}

.right26 h1 {
    margin-left: 1.8750rem;
    margin-top: 1.5625rem;
}
.footer{
    width: 94.8vw;
    height: 5vh;
    margin-top:6rem ;
    
}
 @media (min-width: 320px)and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;

        padding: 0;
    }

    .logo img {
        height: 8rem;
        width: 100%;

    }

    .contact-info {
        font-size: 0.3rem;
        margin-right: 0;
        text-align: center;

        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0
    }

    .number {
        font-size: 1.5rem;
    }

    .contact-info p {
        text-align: center;
    }
    .comp{
        display: block;
    }
    .navigation ul{
        display: none;
        flex-direction: column;
        
        background-color: #9b1b1b;
    }
    .navigation ul.show {
        display: flex;
    }
    ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .flex {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: auto;

    }

    .right img {
        margin: 0;
        padding: 0;
        width: 100%;

    }

    
.form-section {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

    }

    .before-form {
        width: 100%;
        align-items: center;
        gap: 0;
    }

    .text1 {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
   label{
        width: 100%;
       
    }

    .form1 form {
        margin: 0;
        padding: 0;
    }
    .form1{
        width: 50%;
    }
    

    .before-form img {
        margin-right: 0;
        margin-bottom: 1.5rem;
        width: 37%;
        margin-left: 0;
    }
    input{
        width: 100%;
       
        margin-left: 0;
    }

    textarea {
        width: 88%;
        margin-left: 10px;
    }

    .last {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
   

    .btn5 button {
        width: 100%;
        margin-left: 10px;
        font-size: 1rem;

    }
    .para p{
        text-align: center;
    }

    .para {
        margin-bottom: 10px;
        width: 60%;
    }
    .imgs{
        width: 40%;
    }
    .imgs img{
        width: 45%;
    }

    .second {display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding-left: 15px;

    }
    .line3{
        width: 60%;
        text-align: start;
    }
    .btn2 button {
    margin-bottom: 0;
    }
    
    .AREA h1{
        font-size: 25px;
    }



.right1{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
   
}
.imgg{
    margin-right: 0;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.second_section{
    width: 100%;
    margin-left: 0;
    padding: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    border-bottom: 2px solid gray;
}
.main-top{
    padding: 5px;
    display: flex;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 15px;
   
}
.main-bottom{
    margin-left: 0;
}
.imggs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.imggs img {
   padding-top: 0;
    width: 90%;
}
.heading {
    display: flex;
  width: 100%;
    align-items: center;
    
}

    
 
    

.first_section{
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    border-bottom: 2px solid gray;
    
    padding-top: 20px;
}
.line2{
    margin: 0;
    margin-bottom: 1.5rem;
}
.line{
   
    display: none;
}
.line1{
    display: none;
}
.line1 button {
    width: 255px;
   text-align: center;
}
.line3{
    margin: 0;
    padding: 0;
    margin-top: 23px;
   
    margin-left: 0;
}
.btn2 {
    width:90% ;
}
.btn2 button {
    padding-right: 0.5rem;

}
.tex{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    width: 60%;
   
}

    
    .third {display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
       
       
    }

    .sidebarleft  {
        margin-left: 0;
        width: 90%;
    }
    .hhr h1{
        
        text-align: center;
        font-size: 1.5rem;
       
       
    }
     .topp h1 {
        width: max-content;
    }

    .hhr {
      
        text-align: center;
        font-size: 1.5rem;

    }

    .topp {
        width: 100%;
        text-align: center;
        margin-left: 15px;
       }
    .card{
        width: 80%;
    }
    .menu-left{
        width: 80%;
        display: flow;
        font-size: 3vw;
    }
    .hh h1{
        text-align: center;
        font-size: 7vh;
    }
    .hhh1{
        padding: 0;
        margin: 0;
        margin-top: 25px;
    }
    .hhh1 h1{
       text-align: center;
       font-size: 3vh;
       
    }
    .middle-portion {
        width: 100%;
        margin-left: 0;
        padding: 0;
        
    }
    .middle-portion h1{
        text-align: center;
        font-size: 4vh;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
      
    }
    .middle-portion p{
        text-align: left;
       align-items: center;
        margin: 0;
        padding: 0;
        padding-right: 3px;
        margin-left: 15px;
    }
    .right2 {
        width: 100%;
        margin-right: 0;
        margin-top: 25px;
        margin-left: 0;
        padding-left: 15px;
    
        
    }
    .right6 h1 {
        width: 90%;
    }
    .line2{
   display: flex;
   justify-content: end;
   align-items: center;
    text-align: center;
   margin: 0;
        margin-left: 0;
        padding: 0;
        width: 60%;
    }
    .AREA h1{
text-align: center;
       
      
    }
    .AREA p{
        text-align: center;
        margin-top: 15px;
        width: 100%;
    }
    .AREA button{
      margin-top: 20px;
    }
    .AREA ,.line2{
        width: 100%;
    }
    .line9{
        width: 200px;
    }
    .right2 p{
        width: 96%;
       
    }
    .right26 h1 {
       width: 90%;
       margin-left: 0;
        margin-top: 1.5625rem;
        text-align: center;
       

    }
    .right24 img {
        margin-left: 0;
        width: 30%;
        height: auto;
    }
    .right25 img{
        margin-left: 0;
        width: 30%;
        height: auto;
    }
    .right25{
        margin-left: 0;
      width: 90%;
    }
    .right24{
        width: 90%;
    }
    .icon{
        margin-left: 0;
        padding-top: 0.8125rem;
        padding-left: 0;
        text-align: center;
        width: 90%;
    }
    .right{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
      .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;

        padding: 0;
    }
    .main{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .right{
        width: 100%;
    }

    .logo img {
        height: 8rem;
        width: 100%;

    }

    .contact-info {
        font-size: 0.3rem;
        margin-right: 0;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0
    }

    .number {
        font-size: 1.5rem;
    }

    .contact-info p {
        text-align: center;
    }
    .flex {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: auto;

    }
    .last{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .right img {
        margin: 0;
        padding: 0;
        width: 100%;

    }
    li{
        padding-left: 0;
    }

    
.form-section {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

    }
    .second{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .second_section{
        width: 100%;
        margin-top: 20px;
    }
    .imgg3{
        display: inline;
    }

    .first_section{
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
        padding-bottom: 0;
        grid-column: 1;
        margin-top: 0;
    }
    .main1{
        width: 100%;
        margin-bottom: 0;
        margin-top: 36px;

    }
    .main-top{
        width: 90%;
        padding-left: 10px;

    }
    .main-bottom{
        width: 90%;
        margin-left: 10px;
    }
.tex{
    width: 100%;
}
.line{
    border: none;

}
.line1{
    border: none;
}

  .imggs {
        width: 100%;
       
        justify-content: center;
        align-items: center;
    }     
    
    .imggs img {
       
       
        padding-right: 0;
        text-align: center;
        align-items: center;
    }
    
    .right1{
        width: 100%;
        grid-column: 1/span 2;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .heading{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hed {
  padding-left: 20px;
    }
    .para{
        width: 50%;
       
    }
    .right2{
        width: 60%;
    }
    .imgs{
        width: 40%;
    }
    
    h3{
        font-size: 3vh;
        padding-left: 20px;
    }
    
.line2{
   align-items: center;
}
.right1{
    padding-right: 0;
    margin-left: 0;
    padding-left: 0px;
    width: 93%;
}
.imgg{
    width: 100%;
    margin-right: 0;
    justify-content: center;
}

.AREA{
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 12px;
}
.AREA h1{
    width: 100%;
    font-size: 3.5vh;
    text-align: center;
}
.AREA p{
    text-align: center;
    align-items: center;

}
.third {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 0;
    }
    .left6 {
        margin-left: 35px;
        width: 70%;
        margin-top:30px;
    }
    .main6{
        grid-row: 1;
        grid-column: 1/span 2;
        width:90% ;
        
        margin: 1rem auto;
    }
    .right6{
        width: 75%;
       margin-top: 30px;
        margin-left: 30px;
        margin-right: 0;
        margin-bottom: 35px;
    }
    
    .right24 img{
        margin-left: 10px;
    }
    .right25{
        margin-left: 0;
    }
    .follow{
        margin-left: 0;
    }
    .right26 h1 {
        margin-left: 0;
        margin-top: 1.5625rem;
        text-align: center;
    }
    .footer{
        width: 100%;
    }
    @media (min-width: 1025px)and (max-width: 1350px) {

   .flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
    }
    .right{
    width: 47%;
     }

   .form-section{
    width: 47%;
   }
   .last{
    width: 97%;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    }
    .btn5 button {
    margin-right: 0;
     }
    .para{
    width: 35%;
    padding-left: 15px;    
     }
   .btn5{
    width: 65%;
}
.btn5 button{
    width: 100%;
    
   }
    .second{
        display: flex;
        width: 100%;
    }

    .first_section{
        width: 30%;
        margin-left: 0;
        padding-left: 20px;
        padding-bottom: 0;
    }
    .second_section{
        width: 40%;
        margin-bottom: 0;

    }

    .main-top{
        width: 100%;
        padding-left: 10px;
      
    }
    .main-bottom{
        width: 100%;
        padding-left: 10px;
      margin-left: 0;
 }
.tex{
    width: 100%;
}
.line{
    border: none;

}
.line1{
    border: none;
}

  .imggs {
        width: 100%;
       
        justify-content: center;
        align-items: center;
    }     
    
    .imggs img {
        width: 75%;
       
        padding-right: 0;
        text-align: center;
        align-items: center;
    }
    
    .right1{
        width: 30%;
    }
    .heading{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .para{
        width: 50%;
       
    }
    .imgs{
        width: 40%;
    }
    
    h3{
        font-size: 3vh;
    }
    
.line2{
    padding: 0;
}
.right1{
    padding-right: 0;
    margin-left: 0;
    padding-left: 0px;
}
.imgg{
    width: 100%;
    margin-right: 0;
}
.rightimg_1{
    width: 30%;
    height: auto;
}
.rightimg_2{
    width: 30%;
    height: auto;
}
.AREA{
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 12px;
}
.AREA h1{
    width: 90%;
    font-size: 3.5vh
}
.third {
        display: flex;
        
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .sidebarleft {
        margin-left: 35px;
        width: 30%;

    }
    .middle-portion{
        width:40% ;
    }
    .right2{
        width: 30%;
        margin-right: 10px;
    }
    .btn{
        margin-right: 10px;
    }
    .right24 img{
        margin-left: 10px;
    }
    .right25{
        margin-left: 0;
    }
    .icon{
        margin-left: 0;
    }
    .right26 h1 {
        margin-left: 0;
        margin-top: 1.5625rem;
        text-align: center;
    }

.footer{
    width: 100%;
}
}
}





